@model BigBank.Models.LoanAccount

@{
    ViewBag.Title = "Loan Account - BigBank";
}

<div class="container py-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4>Loan Account: @Model.LoanAccountID</h4>
            <p>Loan Amount: @("Rs " + Model.LoanAmount.ToString("N2"))</p>
            <p>Start: @Model.StartDate.ToShortDateString()</p>
            <p>End: @Model.EndDate.ToShortDateString()</p>
        </div>
    </div>
</div>